body {
  background-color: #f7f7f7;
}

.wrapper {
  padding: 0 15% 0 17%;
}

.og-grid {
  margin: 5% 0 0 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
}

.og-grid li {
  margin: 0 2% 15% 2%;
}

.og-grid li a img {
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.09);
}

.og-expander {
  position: absolute;
  background: white;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.09);
  z-index: 100;
}

.og-expander .og-expander-inner .og-fulling img {
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.09);
}

/* ------ HEADER ------*/
header {
  padding: 2% 3% 2% 3%;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header .navbar {
  width: 100%;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  align-content: center;
}

header .navbar .menu {
  width: 12%;
}

header .navbar .menu ul {
  list-style: none;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
}

header .navbar .menu ul li a:hover {
  color: yellow;
}

/* ------ HOVER ------*/
/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
